<div id="cover">
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
    <span class="anim"></span>
</div>

<h3>Zaloguj się</h3>
<form [formGroup]="loginService.loginForm" (ngSubmit)="send()">
    <div id="color_1"></div>
    <div id="color_2"></div>
    <label>Login:</label>
    <input type="text" formControlName="login">
    <label>Hasło:</label>
    <input type="password" formControlName="password">
    <button type="submit">Zaloguj się</button>
</form>
<div id="errors"></div>