h2{
    position: absolute;
    text-align: center;
    top: 45vh;
    left: 50%;
    font-family: Roboto-Light;
    transform: translate(-50%, -50%);
    color: rgb(92, 92, 92);
    letter-spacing: 3px;
    width: 100%;
}

.files_settings{
    position: absolute;
    top: 150px;
    right: 90px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 18px 23px;
    width: 200px;
}

button{
    border: 0;
    outline: 0;
    font-size: 12px;
    padding: 10px;
    background-color: #fbfbfb;
    box-shadow: -5px -5px 10px #FFF, 4px 5px 8px #dbdbdb;
    text-shadow: 2px 1px 0 #fff;
    border-radius: 20px;
    letter-spacing: 1px;
    color: #57575a;
}


#reveal_settings{
    display: none;
    position: relative;
    top: 9vh;
    left: 6%;
    width: 35px;
    height: 35px;
}

#reveal_settings>mat-icon{
    transform: translate(25%, 25%);
}

#micro.active{
    background-color: rgb(214, 52, 52);
}

#micro, #micro mat-icon{
    width: 52px;
    height: 52px;
    font-size: 31px;
    line-height: 52px;
    color: aliceblue;
}

#micro{
    position: relative;
    top: 0;
    right: -36%;
    background-color: rgb(196, 196, 196);
    text-align: center;
    box-shadow: inset 8px 8px 24px -12px rgba(66, 68, 90, 1);
    border-radius: 7px;
}

#micro::after{
    content: "Naciśnij 'K' i mów do mikrofonu.";
    color: rgb(78, 78, 78);
    font-size: 14px;
    display: block;
    width: 220px;
    margin-left: -140%;
    line-height: 20px;
    letter-spacing: 1px !important;
}

@media (max-width: 1980px)
{
    #logout{
        top: 105px;
    }

    #save{
        top: 170px;
    }

    #files{
        top: 235px;
    }
}

@media (max-width: 1675px)
{
    #reveal_settings{
        display: block;
    }

    .move{
        top: 420px !important;
    }
}

@media (max-width: 1450px)
{
    #micro::after{
        width: 190px;
    }
}

@media (max-width: 1070px)
{
    #micro{
        width: 40px;
        height: 40px;
        letter-spacing: 40px;
        font-size: 26px;
    }

    #micro mat-icon{
        width: 40px;
        height: 40px;
        font-size: 26px;
        line-height: 40px;
    }

    #micro::after{
        margin-left: -240%;
    }
}

@media (max-width: 650px)
{
    #micro::after{
        content: "naciśnij mikrofon i mów";
    }

    h2{
        font-size: 14px;
    }

    button{
        font-size: 11px;
    }

    #reveal_settings.move{
        z-index: 4;
    }
}

@media (max-width: 450px)
{
    #micro::after{
        width: 230px;
    }

    button{
        font-size: 11px;
    }
}