<main *ngIf="checkWeb(); else outlet">

    <app-notes-settings></app-notes-settings>
    <button id="reveal_settings"><mat-icon>settings</mat-icon></button>
    
    <div #notes>
        <app-notes></app-notes>
    </div>
    
    
    <div class="files_settings">
        <button id="register" routerLink="/register" *ngIf="!guard.isLoged">rejestracja</button>
        <button id="login" routerLink="/login" *ngIf="!guard.isLoged">zaloguj się</button>
        
        <button id="logout" *ngIf="guard.isLoged" (click)="logoutService.logout()">wyloguj się</button>
        <button id="save" *ngIf="guard.isLoged" (click)="serverService.saveDoc()">zapisz dokument</button>
        
        <button id="files" *ngIf="guard.isLoged" routerLink="/documents">Moje dokumenty</button>
        <app-notes-to-file></app-notes-to-file>
        <div id="micro">
            <mat-icon>settings_voice</mat-icon>
        </div>
    </div>

    
    
</main>
<ng-template #outlet>
    <h2>Otwórz aplikacje w przeglądarce google!</h2>
</ng-template>