h2{
    position: absolute;
    text-align: center;
    top: 45vh;
    left: 50%;
    font-family: Roboto-Light;
    transform: translate(-50%, -50%);
    color: rgb(92, 92, 92);
    letter-spacing: 3px;
    width: 100%;
}

button{
    position: absolute;
    right: 170px;
    background: linear-gradient(138deg, rgb(8, 154, 69) 0%, rgb(25, 88, 88) 100%);
    color: whitesmoke;
    font-family: 'Roboto-Light';
    padding: 7px 11px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    width: 125px;
}

#reveal_settings{
    display: none;
    position: relative;
    top: 9vh;
    left: 6%;
    width: 35px;
    height: 35px;
}

#reveal_settings>mat-icon{
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(25%, 25%);
}

#micro.active{
    background-color: rgb(214, 52, 52);
}

#micro, #micro mat-icon{
    width: 52px;
    height: 52px;
    font-size: 31px;
    line-height: 52px;
    color: aliceblue;
}

#micro{
    position: absolute;
    top: 470px;
    right: 14vw;
    background-color: rgb(196, 196, 196);
    text-align: center;
    box-shadow: inset 8px 8px 24px -12px rgba(66, 68, 90, 1);
    border-radius: 7px;
}

#micro::after{
    content: "Naciśnij 'K' i mów do mikrofonu.";
    color: rgb(78, 78, 78);
    font-size: 14px;
    display: block;
    width: 220px;
    margin-left: -140%;
    line-height: 20px;
    letter-spacing: 1px !important;
}

#register{
    top: 260px;
}

#login{
    top: 200px;
}

#logout{
    top: 100px;
}

#save{
    top: 150px;
}

#files{
    top: 200px;
}

@media (max-width: 1980px)
{
    #logout{
        top: 275px;
    }

    #save{
        top: 335px;
    }

    #files{
        top: 395px;
    }
}

@media (max-width: 1675px)
{
    #reveal_settings{
        display: block;
    }

    .move{
        top: 420px !important;
    }
}

@media (max-width: 1450px)
{
    #files, #save, #logout, #login, #register{
        top: 40px;
        right: auto;
    }

    #micro{
        right: 4vw;
    }

    #micro::after{
        width: 190px;
    }

    #logout{
        left: 28%;
    }

    #save{
        left: 43%;
    }

    #files{
        left: 59%;
    }

    #login{
        left: 31%;
    }

    #register{
        left: 62%;
    }
}

@media (max-width: 1070px)
{
    #micro{
        right: 45px;
        top: 45px;
        width: 40px;
        height: 40px;
        letter-spacing: 40px;
        font-size: 26px;
    }

    #micro mat-icon{
        width: 40px;
        height: 40px;
        font-size: 26px;
        line-height: 40px;
    }

    #micro::after{
        margin-left: -240%;
    }

    #logout{
        left: 18%;
    }

    #save{
        left: 41%;
    }

    #files{
        left: 67%;
    }
}

@media (max-width: 650px)
{
    #micro::after{
        content: "naciśnij mikrofon i mów";
    }

    h2{
        font-size: 14px;
    }

    button{
        font-size: 11px;
    }

    #reveal_settings{
        top: 500px;
        left: 72%;
    }

    #reveal_settings.move{
        top: 45% !important;
        z-index: 4;
    }

    #logout, #login, #register, #save{
        top: 99%;
    }

    #login{
        left: 11%;
    }

    #register{
        left: 55%;
    }

    #logout{
        left: 8%;
    }

    #save{
        left: 50%;
    }

    #files{
        top: 97%;
        left: 50%;
    }
}

@media (max-width: 450px)
{
    #reveal_settings.move{
        top: 70% !important;
    }

    #micro{
        right: 151px;
        top: 525px;
    }

    #micro::after{
        width: 230px;
    }

    button{
        font-size: 11px;
    }

    #logout{
        top: 95%;
        left: 8%;
    }

    #save{
        top: 95%;
        left: 50%;
    }

    #files{
        top: 102%;
        left: 50%;
    }
}