button{
    position: absolute;
    right: 170px;
    background: linear-gradient(138deg, rgb(8, 154, 69) 0%, rgb(25, 88, 88) 100%);
    color: whitesmoke;
    font-family: 'Roboto-Light';
    padding: 7px 11px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

#register{
    top: 170px;
}

#login{
    top: 120px;
}

#logout{
    top: 100px;
}

#save{
    top: 150px;
}

#files{
    top: 200px;
}