<div data-padding="1" class="padding">
    <span class="vertical"></span>
    <span class="horizon"></span>
</div>
<div data-padding="2" class="padding">
    <span class="vertical"></span>
    <span class="horizon"></span>
</div>
    <main>
        <div contenteditable="true" id="a4"></div>
    </main>
<div data-padding="3" class="padding">
    <span class="vertical"></span>
    <span class="horizon"></span>
</div>
<div data-padding="4" class="padding">
    <span class="vertical"></span>
    <span class="horizon"></span>
</div>