
<div data-padding="1" class="padding">
    <span class="vertical"></span>
    <span class="horizon"></span>
</div>
<div data-padding="2" class="padding">
    <span class="vertical"></span>
    <span class="horizon"></span>
</div>

    <main>
        <div id="a4" #a4>
            <div contenteditable="true" id="notesText"></div>
        </div>
    </main>

<app-line data='{"id":"0","width":"210mm","height":"12px", "top": "-18px"}' *ngIf="settings.lines.worth"></app-line>
<app-line data='{"id": "1", "height": "297mm", "width": "20px", "left": "-18px"}' *ngIf="settings.lines.worth"></app-line>

<div data-padding="3" class="padding">
    <span class="vertical"></span>
    <span class="horizon"></span>
</div>
<div data-padding="4" class="padding">
    <span class="vertical"></span>
    <span class="horizon"></span>
</div>
<select #document>
    <option *ngFor="let doc of documentTypes">{{doc}}</option>
</select>
<button (click)="createDocument(a4, document.value)">pobierz</button>