div{
    height: 30px;
    width: 30px;
    background: rgb(41,167,131);
    background: linear-gradient(138deg, rgb(8, 154, 69) 0%, rgb(25, 88, 88) 100%); 
    border-radius: 5px;
    overflow: hidden;
    transform: translate(100%, 0%);
}

div.show{
    min-height: 30px;
    min-width: 30px;
    animation: show .4s ease-in;
    animation-fill-mode: forwards;
}

div.remove{
    animation: remove .27s ease-out;
}

div>select{
    display: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 4px;
    border: none;
    text-align: center;
}

div>button{
    width: 60px;
    border: none;
    background-color: rgb(116, 189, 164);
    display: none;
    cursor: pointer;
}

div>select.showSelect{
    opacity: 0;
    border-radius: 2px;
    display: block;
    margin-left: 40px;
    animation-name: showInsideSelect;
    animation-delay: .4s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

div>label{
    opacity: 0;
}

div>label.showName{
    color: aliceblue;
    font-family: Roboto-Light;
    margin-left: -25px;
    float: left;
    animation-name: showName;
    animation-delay: .7s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

div>input{
    opacity: 0;
}

div>input.showName{
    width: 63%;
    animation-name: showName;
    animation-delay: .7s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

mat-icon{
    color: aliceblue;
    text-align: center;
    width: 30px;
    line-height: 30px;
    height: auto;
    cursor: pointer;
    float: left;
}

@keyframes show{
    0%{
        padding: 0px 0px;
        height: 30px;
        width: 30px;
    }
    100%{
        width: 160px;
        height: 70px;
        padding: 0px 10px 0px 0px;
    }
}

@keyframes showInsideSelect{
    0%{
        opacity: 0;
        margin-top: 20px;
        margin-left: 55px;
    }
    100%{
        opacity: 1;
        margin-top: 5px;
        margin-left: 55px;
    }
}

@keyframes remove {
    0%{
        width: 120px;
        padding: 0px 10px 0px 0px;
    }
    100%{
        width: 30px;
        padding: 0px;
    }
}

@keyframes showName {
    0%{
        opacity: 0;
        margin-top: 25px;
    }
    100%{
        opacity: 1;
        margin-top: 12px;
    }
}