div{
    height: 128px;
    display: flex;
    flex-direction: column;
    padding: 15px 22px;
    gap: 14px;
}

div.remove{
    animation: remove .27s ease-out;
}

div>select{
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 12px;
    border: none;
    text-align: center;
    width: min-content;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: #fbfbfb;
    box-shadow: -13px -7px 10px #FFF, 4px 6px 6px #dbdbdb;
    text-shadow: 2px 1px 0 #fff;
    color: #57575a;
    font-family: Roboto-Thin;
}

div>button{
    width: 60px;
    border: none;
    background-color: rgb(116, 189, 164);
    cursor: pointer;
}

div>label{
    font-family: Roboto-Light;
}

div>input{
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 7px 13px;
    font-size: 16px;
    font-family: Roboto-Thin;
}

mat-icon{
    text-align: center;
    width: 32px;
    line-height: 30px;
    height: auto;
    cursor: pointer;
    float: left;
    position: absolute;
    right: 48px;
    color: #6acb42;
    font-size: 28px;
    background-color: #fbfbfb;
    box-shadow: -9px -7px 8px #FFF, 2px 3px 3px #dbdbdb;
    text-shadow: 2px 1px 0 #fff;
    border-radius: 8px;
    height: 29px;
}

@keyframes show{
    0%{
        padding: 0px 0px;
        height: 30px;
        width: 30px;
    }
    100%{
        width: 200px;
        height: 70px;
        padding: 0px 10px 0px 0px;
    }
}

@keyframes showInsideSelect{
    0%{
        opacity: 0;
        margin-top: 20px;
        margin-left: 55px;
    }
    100%{
        opacity: 1;
        margin-top: 5px;
        margin-left: 55px;
    }
}

@keyframes remove {
    0%{
        width: 200px;
        padding: 0px 10px 0px 0px;
    }
    100%{
        width: 30px;
        padding: 0px;
    }
}

@keyframes showName {
    0%{
        opacity: 0;
        margin-top: 25px;
    }
    100%{
        opacity: 1;
        margin-top: 12px;
    }
}

@media (max-width: 1450px)
{
    div{
        transform: translate(0, 0);
    }
}