#cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--document-background);
    overflow-x: hidden;
}

#inside{
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 63vh;
    justify-content: space-around;
    padding: 75px 0px;
    flex-wrap: wrap;
}

select{
    margin-top: 1vh;
    position: absolute;
    right: 75px;
    width: 110px;
    height: 35px;
    z-index: 6;
}

#delete{
    margin-top: 5vh;
    position: absolute;
    right: 195px;
    width: 110px;
    height: 35px;
    z-index: 6;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

header mat-icon{
    font-size: 126px;
    color: #a4ceb7;
    width: 250px;
    height: 250px;
    margin-top: 45px;
}

#lack_header{
    font-family: 'Roboto-Thin';
    margin-top: 27vh;
    letter-spacing: 8px;
    font-size: 30px;
}

#inside #line{
    position: absolute;
    width: 80%;
    height: 1px;
    background: #c0c0c0;
    margin-top: -40px;
}

#inside #line::before{
    content: 'Pliki';
    position: absolute;
    top: -50px;
    right: 72%;
    font-size: 36px;
    letter-spacing: 6px;
    font-family: 'Roboto-Light';
    color: #5a9ac5;
}

#inside #line::after{
    content: '';
    position: absolute;
    top: -50px;
    right: 72%;
    width: 100px;
    height: 38px;
    background-color: var(--document-background);
    animation: writer 4.9s step-end;
    animation-fill-mode: forwards;
}

#inside>div{
    position: relative;
}

#inside>div>span{
    position: absolute;
    top: 0;
    left: 0;
    height: 272px;
    background: #7fc59185;
    cursor: pointer;
}

#inside>div>img{
    height: 270px;
    border: 1px solid rgb(192, 192, 192);
    cursor: pointer;
}

.hadImage{
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 50px;
}

#edit{
    position: fixed;
    text-align: center;
    line-height: 100vh;
    top: 0;
    bottom: 0;
    width: calc( var(--editSize) * 1px);
    transform: translate(-100%, 0);
    box-shadow: inset 10px 10px 10px -1px rgb(10, 99, 170, 0.16),
                inset -10px -10px 10px -1px rgb(241, 241, 241, 0.7);
    background-color: var(--document-background);
    z-index: 7;
}

#edit h3, #removeFile h3{
    position: absolute;
    top: -450px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'Roboto-LightItalic';
    font-size: 30px;
    letter-spacing: 6px;
    color: #5ac58c;
}

#removeFile h3{
    top: 180px;
}

#edit mat-icon{
    font-size: 84px;
    width: 150px;
    height: 150px;
    color: rgb(94, 202, 126);
}

#size{
    position: absolute;
    top: 110px;
    left: 220px;
    font-family: 'Roboto-Light';
    z-index: 1;
}

#vial{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ebebeb;
    top: 40px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#vial::before{
    content: "";
    text-align: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cfcfcfc0;
    z-index: 2;
    border-radius: 50%;
    height: 35px;
    width: 100%;
}

#vial span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(150, 150, 150);
    font-family: 'Roboto-Light';
    font-size: 26px;
    letter-spacing: 3px;
}

#liquid{
    position: absolute;
    height: 0%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #77ca9a;
    filter: drop-shadow(0 0 40px #7fc591);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#liquid::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 23px;
    background-color: #608159;
    border-radius: 50%;
    top: -10px;
}

::ng-deep #show{
    position: absolute;
    z-index: 6;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    animation-name: show_image;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    box-shadow: 8px 8px 15px -11px rgba(66, 68, 90, 1);
}

#removeFile{
    position: fixed;
    top: 0px;
    right: 0px;
    width: calc( var(--delete-left) * 1px);
    bottom: 0px;
    transform: translate(100%, 0%);
    border-radius: 4px;
    background-color: var(--document-background);
    z-index: 2;
}

#removeFile>div{
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#removeFile span{
    position: absolute;
    top: 45%;
    left: 6%;
    height: 195px;
    width: 120px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #7fc591;
    z-index: 2;
}

#removeFile span::after{
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 120px;
    height: 5px;
    background: #7fc591;
}

#removeFile span::before{
    content: "";
    position: absolute;
    top: -13px;
    left: 35px;
    width: 44px;
    height: 5px;
    background: #7fc591;
}

#removeFile mat-icon{
    position: absolute;
    left: 65%;
    top: 46%;
    font-size: 75px;
    height: 95px;
    width: 85px;
    color: #7fc591;
    z-index: 1;
}

::ng-deep #removeFile>span.crush{
    border-radius: 50%;
    position: absolute;
}

::ng-deep #removeFile>span.crush:nth-of-type(1){
    background-color: #5ac58c;
    animation: span_1_crush .4s ease-in;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(2){
    background-color: #79b7d3;
    animation: span_2_crush .4s ease-in;
    animation-delay: .4s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(3){
    background-color: #79b7d3;
    animation: span_3_crush .4s ease-in;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(4){
    background-color: #5ac58c;
    animation: span_4_crush .4s ease-in;
    animation-delay: .4s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(5){
    background-color: #79b7d3;
    animation: span_5_crush .4s ease-in;
    animation-delay: .3s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(6){
    background-color: #79d39b;
    animation: span_6_crush .4s ease-in;
    animation-delay: .4s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(7){
    background-color: #79b7d3;
    animation: span_7_crush .4s ease-in;
    animation-delay: .1s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(8){
    background-color: #79d3a1;
    animation: span_8_crush .4s ease-in;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(9){
    background-color: #79d3a6;
    animation: span_9_crush .4s ease-in;
    animation-delay: .17s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(10){
    background-color: #79b7d3;
    animation: span_10_crush .4s ease-in;
    animation-delay: .33s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(11){
    background-color: #79d39e;
    animation: span_11_crush .4s ease-in;
    animation-delay: .25s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(12){
    background-color: #79c1d3;
    animation: span_12_crush .4s ease-in;
    animation-delay: .25s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(13){
    background-color: #79d39e;
    animation: span_13_crush .4s ease-in;
    animation-delay: .25s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(14){
    background-color: #79b9d3;
    animation: span_14_crush .4s ease-in;
    animation-delay: .38s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(15){
    background-color: #79d39e;
    animation: span_15_crush .4s ease-in;
    animation-delay: .45s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(16){
    background-color: #79d39e;
    animation: span_16_crush .4s ease-in;
    animation-delay: .52s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(17){
    background-color: #79b9d3;
    animation: span_17_crush .4s ease-in;
    animation-delay: .24s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(18){
    background-color: #79c5d3;
    animation: span_18_crush .4s ease-in;
    animation-delay: .29s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(19){
    background-color: #79d39e;
    animation: span_19_crush .4s ease-in;
    animation-delay: .16s;
    animation-fill-mode: forwards;
}

::ng-deep #removeFile>span.crush:nth-of-type(20){
    background-color: #79c1d3;
    animation: span_20_crush .4s ease-in;
    animation-delay: .41s;
    animation-fill-mode: forwards;
}

@keyframes writer{
    0%{
        border-left: 2px solid rgb(138, 138, 138);
    }
    5%{
        border-left: 2px solid rgb(138, 138, 138, 0);
    }
    10%{
        border-left: 2px solid rgb(138, 138, 138);
    }
    15%{
        border-left: 2px solid rgb(138, 138, 138, 0);
    }
    20%{
        border-left: 2px solid rgb(138, 138, 138);
    }
    25%{
        border-left: 2px solid rgb(138, 138, 138, 0);
    }
    30%{
        border-left: 2px solid rgb(138, 138, 138);
    }
    35%{
        width: 71px;
        border-left: 2px solid rgb(138, 138, 138, 0);
    }
    40%{
        width: 53px;
        border-left: 2px solid rgb(138, 138, 138);
    }
    45%{
        width: 43px;
        border-left: 2px solid rgb(138, 138, 138, 0);
    }
    50%{
        width: 16px;
        border-left: 2px solid rgb(138, 138, 138);
    }
    55%{
        width: 12px;
        border-left: 2px solid rgb(138, 138, 138, 0);
    }
    60%{
        width: 0px;
        border-left: 2px solid rgb(138, 138, 138);
    }
    65%{
        width: 0px;
        border-left: 2px solid rgb(138, 138, 138, 0);
    }
    70%{
        width: 0px;
        border-left: 2px solid rgb(138, 138, 138);
    }
    75%{
        width: 0px;
        border-left: 2px solid rgb(138, 138, 138, 0);
    }
    80%{
        width: 0px;
        border-left: 2px solid rgb(138, 138, 138);
    }
    85%{
        width: 0px;
        border-left: 2px solid rgb(138, 138, 138, 0);
    }
    90%{
        width: 0px;
        border-left: 2px solid rgb(138, 138, 138);
    }
    100%{
        width: 0px;
        border-left: 2px solid rgb(138, 138, 138, 0);
    }
}

@keyframes anim_show {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@keyframes show_image {
    0%{
        top: 20%;
        opacity: 0;
    }
    100%{
        top: 35%;
        opacity: 1;
    }
}

@keyframes show_edit {
    0%{
        transform: translate(-100%, 0);
    }
    100%{
        transform: translate(0, 0);
    }
}

@keyframes move_size {
    0%{
        left: 220px;
    }
    100%{
        left: calc(var(--editSize) * 1px + 145px);
    }
}

@keyframes show_remove {
    0%{
        transform: translate(100%, 0%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}

@keyframes delete_animation_1 {
    0%{
        transform: scale(1) rotate(0deg) translateY(0px);
    }
    100%{
        transform: scale(1.5) rotate(52deg) translateY(10px);
    }
}

@keyframes delete_animation_2 {
    0%{
        transform: rotate(0deg) translateX(0%) translateY(0px);
    }
    100%{
        transform: rotate(-90deg) translateX(48%) translateY(-60px);
    }
}

@keyframes delete_animation_3 {
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    100%{
        transform: rotate(-90deg) translateY(-60px) translateX(51px);
    }
}

@keyframes delete_animation_4 {
    0%{
        transform: scale(1) rotate(0deg) translateX(0px);
    }
    100%{
        transform: scale(0.6) rotate(-70deg) translateY(-155px) translateX(-25px);
    }
}

@keyframes crush_doc{
    0%{
        right: calc(var(--delete-left) * 1px);
    }
    8%{
        right: calc(var(--delete-left) * 1px - 2px);
    }
    23%{
        right: calc(var(--delete-left) * 1px + 3px);
    }
    40%{
        right: calc(var(--delete-left) * 1px  - 2px);
    }
    55%{
        right: calc(var(--delete-left) * 1px + 2px);
    }
    72%{
        right: calc(var(--delete-left) * 1px - 4px);
    }
    89%{
        right: calc(var(--delete-left) * 1px + 4px);
    }
    95%{
        right: calc(var(--delete-left) * 1px - 3px);
    }
    100%{
        right: calc(var(--delete-left) * 1px);
    }
}

@keyframes span_1_crush {
    0%{
        top: 15%;
        left: 4%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    100%{
        top: 197%;
        left: 1%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_2_crush {
    0%{
        top: 15%;
        left: 8%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 6%;
    }
    100%{
        top: 197%;
        left: 11%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_3_crush {
    0%{
        top: 15%;
        left: 9%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 12%;
    }
    100%{
        top: 187%;
        left: 8%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_4_crush {
    0%{
        top: 15%;
        left: 13%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 11%;
    }
    100%{
        top: 180%;
        left: 11%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_5_crush {
    0%{
        top: 15%;
        left: 18%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 15%;
    }
    100%{
        top: 192%;
        left: 17%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_6_crush {
    0%{
        top: 15%;
        left: 22%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 23%;
    }
    100%{
        top: 198%;
        left: 20%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_7_crush {
    0%{
        top: 15%;
        left: 26%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 24%;
    }
    100%{
        top: 178%;
        left: 25%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_8_crush {
    0%{
        top: 15%;
        left: 31%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 30%;
    }
    100%{
        top: 195%;
        left: 33%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_9_crush {
    0%{
        top: 15%;
        left: 35%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 34%;
    }
    100%{
        top: 195%;
        left: 36%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_10_crush {
    0%{
        top: 15%;
        left: 35%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 34%;
    }
    100%{
        top: 195%;
        left: 36%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_11_crush {
    0%{
        top: 15%;
        left: 43%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 47%;
    }
    100%{
        top: 190%;
        left: 45%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_12_crush {
    0%{
        top: 15%;
        left: 50%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 49%;
    }
    100%{
        top: 195%;
        left: 50%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_13_crush {
    0%{
        top: 15%;
        left: 56%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 59%;
    }
    100%{
        top: 209%;
        left: 58%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_14_crush {
    0%{
        top: 15%;
        left: 61%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    40%{
        left: 63%;
    }
    100%{
        top: 177%;
        left: 65%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_15_crush {
    0%{
        top: 15%;
        left: 68%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    55%{
        left: 67%;
    }
    100%{
        top: 186%;
        left: 70%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_16_crush {
    0%{
        top: 15%;
        left: 74%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 77%;
    }
    100%{
        top: 168%;
        left: 76%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_17_crush {
    0%{
        top: 15%;
        left: 80%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 82%;
    }
    100%{
        top: 190%;
        left: 81%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_18_crush {
    0%{
        top: 15%;
        left: 86%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 89%;
    }
    100%{
        top: 175%;
        left: 88%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_19_crush {
    0%{
        top: 15%;
        left: 92%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 93%;
    }
    100%{
        top: 200%;
        left: 96%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@keyframes span_20_crush {
    0%{
        top: 15%;
        left: 98%;
        width: 22px;
        height: 22px;
        opacity: 1;
    }
    50%{
        left: 97%;
    }
    100%{
        top: 199%;
        left: 95%;
        width: 14px;
        height: 14px;
        opacity: 0;
    }
}

@media (max-width: 650px){
    #size{
        left: 50%;
        transform: translate(-50%, -30%);
    }

    #removeFile.show{
        bottom: 490px !important;
        top: 50px;
        width: 350px;
    }

    #inside #line::before, #inside #line::after{
        right: 62%;
    }
}
@media (max-width: 850px){
    
    #edit h3{
        display: none;
    }

    #removeFile.show{
        width: 270px;
    }
}

@media(min-width: 1150px)
{
    ::ng-deep #size.move{
        animation: move_size .4s ease-in forwards;
    }
}